<footer class="footer">
  <small>
    &copy; 2022
  </small>
  <nav>
    <ul class="footer-contact">
      <li class="footer-contact__icons"><a href="https://github.com/Vianam92" class="footer-contact__icons--link"
          target="_blank">
          <i class="fab fa-github-alt"></i>
        </a></li>
      <li class="footer-contact__icons"><a href="https://www.linkedin.com/in/mariana-viana-rodriguez-19871a195/"
          class="footer-contact__icons--link" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a></li>
      <li class="footer-contact__icons"><a href="https://twitter.com/vianam92" class="footer-contact__icons--link"
          target="_blank">
          <i class="fab fa-twitter"></i>
        </a></li>
    </ul>
  </nav>
</footer>