<main class="container">
  <section class="container_section">
    <form action="#" method="get" class="form">
      <select class="js-select form_option" name="select" id="select">
        <option>Seleccione su jugada</option>
        <option value="piedra">piedra</option>
        <option value="papel">papel</option>
        <option value="tijera">tijera</option>
      </select>
      <input type="button" value="Jugar" class="form_button js-input">
      <div class="js-start form_start"></div>

      <article class="js-article form_article">

      </article>
      <input class="button-reset hidden js-reset" type="reset" value="reiniciar juego">
    </form>
  </section>
  <div class="container_img">
    <img src="./assets/images/papel_.png" Alt="papel" class="container_img--images js-papel hidden">
    <img src="./assets/images/3D_Stone_25698.png" Alt="piedra" class="container_img--images js-piedra hidden">
    <img src="./assets/images/edit_cut_scissors_15697.png" Alt="tijeras" class="container_img--images js-tijera hidden">
  </div>
</main>