* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

header {
    position: fixed;
    top: 0;
    background-color: rgb(241, 24, 24);
    color: blanchedalmond;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 10px;
    padding: 5px;
}

.select {
    margin: 10px;
    padding: 5px;
    background-color: rgb(231, 67, 26);
    border-radius: 25px;
    border: 2px solid rgb(235, 208, 208);
    box-shadow: 3px 2px 0 2pxrgba(226, 43, 43, 0.753);
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.button {
    background-color: rgb(238, 220, 216);
    border: px solid rgb(82, 33, 82);
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    margin: 1px;
    box-shadow: -3px -2px 0 rgba(48, 45, 45, 0.753);
    font-size: 1.2rem;
    font-weight: 600;

}

.button-reset {
    background-color: rgb(238, 220, 216);
    border: px solid rgb(82, 33, 82);
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    margin: 1px;
    box-shadow: -3px -2px 0 rgba(48, 45, 45, 0.753);
    font-size: 1.2rem;
    font-weight: 600;
}

.start {
    background-color: rgb(123, 246, 250);
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    border: 3px solid rgb(240, 216, 240);
    box-shadow: 1px 2px 3px rgba(252, 232, 229, 0.589);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 15px;
}

.h1 {
    text-align: center;
    margin: 20px;
}

.robot {
    width: 50px;
}

.text {
    color: rgb(2, 5, 34);
    text-align: center;
    margin: 10px;
}

.div-img {
    width: 100%;
    text-align: center;
}

.img {
    width: 100px;
    height: auto;
    border: 5px solid white;
}

.hidden {
    display: none;
}

@media(min-width:768px) {
    .container {
        width: 500px;
    }
}